        <div class="wrapper fadeInDown">
            <div class="formContent">
                <%= simple_form_for(@list) do |f| %>
                <form class="form">
                  <%= f.input :name, class: "fadeIn second", id: "name-list" %>
                  <%= f.input :photo, as: :file, class: "fadeIn third", id: "pic" %>
                <div class="wrapper-btn">
                  <%= f.button :submit, class: "btn-blue fadeIn fourth" %>
                </div>
                </form>
                <%= link_to 'Home', root_path %>
                <% end %>
            </div>
        </div>
