<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <a class="navbar-brand" href="#">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Home', lists_path(@list) %>
          </li>
          <li class="nav-item">
            <%= link_to 'Add a movie!', new_list_bookmark_path(@list) %>
          </li>
          <li class="nav-item-avatar dropdown">
          <%= image_tag 'avatar', class: "avatar"%>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

<div class="banner-movie" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80
);">
  <h1><strong><%= @list.name %></strong></h1>
  <%= link_to 'Add a movie!', new_list_bookmark_path(@list), class: "btn btn-success btn-add-movie" %>
</div>

<div class="container-movie">
  <% @bookmarks.each do |b| %>
  <div class="card-movie">
    <%= image_tag b.movie.poster_url, class: "card-img-top" %>
    <div class="card-movie-headers">
      <h2><%= b.movie.title %></h2>
      <%= link_to bookmark_path(b), method: :delete do %>
                <i class="fas fa-trash-alt trash"></i>
              <% end %>
      </div>
    <div class="card-movie-infos">
      <p><%= b.movie.overview %></p>
      <hr>
      <p id="rating">Rating: <%= b.movie.rating %> ⭐</p>
      <hr>
      <p id="comments"><em>Comments</em>: <%= b.comment %></p>

    </div>
  </div>
  <% end %>
</div>
